* {
    --slideBackgroundColor: {{ initParams.stylesheet.slideBackgroundColor }};
    --textColor: {{ initParams.stylesheet.textColor }};
}

.intro{
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  overflow: hidden;
  background-color: var(--slideBackgroundColor);
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: var(--textColor);
}

.intro .salutation{
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  text-align: center;
}

.intro .name{
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 10%;
  font-family: 'Alegreya', serif;
  font-size: 25px;
}

.name .value{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}

.intro .photo{
  position: absolute;
  background: url({{initParams.intro.photo}});
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  left: 10%;
  top: 105%;
}

.intro .about{
  position: absolute;
  width: 60%;
  top: 137%;
  left: 10%;
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-size: 20px;
}

.intro .work-experience{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left:10%;
  top: 155%;
  font-family: 'Alegreya', serif;

}

.intro .languages{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left:10%;
  top: 175%;
  font-family: 'Alegreya', serif;

}

.intro .agelity{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right:10%;
  top: 155%;
  text-align: right;
  font-family: 'Alegreya', serif;

}

.intro .nationality{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right:10%;
  top:175%;
  text-align: right;
  font-family: 'Alegreya', serif;

}

.intro .value-wrapper{
  position: relative;
  overflow: hidden;
  font-style: italic;
  font-size: 20px;
}

.intro .value-wrapper .value-r{
  position: relative;
  right: 100%;
}

.intro .value-wrapper .value-l{
  position: relative;
  left: 100%;
}

.intro .title{
  text-decoration: underline;
  font-size: 30px;
}
