* {
    --font-size: {{ initParams.fontSize }};
    --font-color: {{ initParams.color }};
}

.container {
  width: 100%;
  height: 100%;
  background-color: #434445;
}

.intro,.skills-container,.edu-exp{
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  overflow: hidden;
  background-color: #20212e;
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: antiquewhite;
}

.salutation{
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.name{
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 10%;
}

.photo{
  position: absolute;
  background: url(assets/photo.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  left: 10%;
  top: 105%;
}

.about{
  position: absolute;
  width: 60%;
  top: 135%;
  left: 10%;
}

.work-experience{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left:10%;
  top: 150%;
}

.languages{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left:10%;
  top: 170%;
}

.agelity{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right:10%;
  top: 150%;
  text-align: right;
}

.nationality{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right:10%;
  top:170%;
  text-align: right;
}

.value-wrapper{
  position: relative;
  overflow: hidden;
}

.value-wrapper .value{
  position: relative;
  top: -100%;
}
/* skills slide */
.section1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 20%;
  gap:20%;
}

.section2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 60%;
  left: 20%;
  gap: 20%;
}
/* edu-exp slide */
.edu-exp .content{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.experience{
  position: absolute;
  top: 5%;
  left: 0%;
}

.education{
  position: absolute;
  top: 55%;
  left: 0%;
}